<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="agvtxws.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <agvtxws.Properties.Settings>
            <setting name="agvtxws_agv2wmstx_tx" serializeAs="String">
                <value>http://dspt.f3322.net:18080/jfsaptx/tx.asmx</value>
            </setting>
            <setting name="agvtxws_wms2agv_AGVSrv" serializeAs="String">
                <value>http://139.196.176.125:2580/tg_agv_webSrv4GoldenWind/AGVSrv.asmx</value>
            </setting>
        </agvtxws.Properties.Settings>
    </applicationSettings>
</configuration>